/*Copyright © 2020 Rishabh Rao.
All Rights Reserved.*/

.chats__container {
	display: grid;
	place-items: center;
	flex-direction: column;
	margin: 25px;
}

.fab {
	position: fixed;
	bottom: 0px;
	right: 0px;
	padding: 20px;
}

.text {
	margin: 10px !important;
}

.newform {
	margin-top: 20px !important;
	display: flex !important;
	flex-direction: column !important;
	justify-content: space-between !important;
}
