/*Copyright © 2020 Rishabh Rao.
All Rights Reserved.*/

.login {
	height: 100vh;
	background: #f8f8f8;
	display: grid;
	place-items: center;
}

.login__container {
	padding: 40px;
	text-align: center;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12), 0 10px 20px rgba(0, 0, 0, 0.24);
}

.login__container > img {
	object-fit: contain;
	height: 100px;
	margin-bottom: 10px;
}

.login__container > h2 {
	margin-bottom: 40px;
}

.login__container > div {
	margin-top: 20px;
	display: grid;
	place-items: center;
}
